ФИО:

In [ ]:
Есмуханов Арман Еркинович

# **Задание 1**



Дан словарь, содержащий имена и возраст людей, напишите программу выводящую возраст человека по имени

Дано:

```
{"Alice": 25, "Bob": 30, "Charlie": 35}
```

Вввод:


```
Alice
```

Вывод:


```
Alice 25
```

In [ ]:
names={"Alice": 25, "Bob": 30, "Charlie": 35}
name=input()
print(name, names[name])

Alice
Alice 25

# **Задание 2**



Дан список, состоящий из целых чисел, необходимо написать функцию считающую сумму всех положительных четных чисел списка

Ввод:

```
1, 2, 3, 4, 5, 6, 7, 8, 9
```

Вывод:


```
20
```

***Запрещено:***

*   Использование готовых функций для суммирования чисел

In [ ]:
nums=list(map(int, input().split(', ')))
sm=0
for i in nums:
  if i%2==0 and (i>0):
    sm+=i
print(sm)

1, 2, 3, 4, 5, 6, 7, 8, 9
20

# **Задание 3**

Дан словарь, содержащий название фрукта и его цвет, выведите список всех желтых фруктов


Дано:

```
fruits_and_flowers = {
    "apple": "rose",
    "banana": "lily",
    "mango": "sunflower",
    "orange": "daisy",
    "lemon": "tulip",
    "grape": "orchid"
}
```

Вывод:


```
Yellow fruits:
banana
lemon
mango
```

In [ ]:
fruits_and_flowers = {
    "apple": "green",
    "banana": "yellow",
    "mango": "yellow",
    "orange": "orange",
    "lemon": "yellow",
    "grape": "green"
}
print('Yellow fruits')
for i in fruits_and_flowers.keys():
  if fruits_and_flowers[i]=='yellow':
    print(i)

Yellow fruits
banana
mango
lemon

# **Задание 4**



Дан словарь, необходимо написать функцию меняющую ключ и значение местами

Дано:


```
{"a": 1, "b": 2, "c": 3}
```

Вывод:

```
{1: 'a', 2: 'b', 3: 'c'}
```

In [ ]:
def swap(dictr: dict):
  dummy={}
  for i,j in dictr.items():
    dummy[j]=i
  return dummy
print(swap({"a": 1, "b": 2, "c": 3}))

{1: 'a', 2: 'b', 3: 'c'}

# **Задание 5**

Дан список слов, неограниченной длинны, сформируйте словарь, где в качестве ключа будет слово, а в качестве значения количество символов

**Критерии**


*   Словарь необходимо отсортировать по убыванию количества элементов в списке.
*   Подсчет элементов должен быть реализован в отдельной функции
*   Сортировка пары `ключ:значение` должна быть реализована также в виде отдельной функции




Дано:
```
['apple','banana','orange','apple','apple','banana']
```


Вывод:
```
{'apple':3, 'banana': 2, 'orange': 1}
```

***Запрещено:***

*   Использование готовых функций для сортировки словаря
*   Использование готовых функций для подсчета элементов

In [ ]:
words=['banana','orange','apple','apple','banana']

def count_elem(words) -> dict:
  dic={}
  for word in words:
    cnt=0
    for j in words:
      if word==j:
        cnt+=1
    dic[word]=cnt
  return dic

def sort_dict(d: dict):
  dic={}
  values=dict(sorted(list(d.items())))
  return values
print(sort_dict(count_elem(words)))

{'apple': 2, 'banana': 2, 'orange': 1}

# **Задание 6**

Дан словарь, содержащий информацию о людях, необходимо:



*   Вывести всех людей старше 30 лет
*   Вывести список городов и количество людей из словаря проживающих в них
*   Вывести список профессий и список людей для каждой профессии

**Критерии**

Каждый из пунктов необходимо реализовать в виде функции

In [ ]:
people_info = {
    "Alice": {"age": 25, "city": "New York", "occupation": "Engineer"},
    "Bob": {"age": 30, "city": "Los Angeles", "occupation": "Designer"},
    "Charlie": {"age": 35, "city": "Chicago", "occupation": "Teacher"},
    "Diana": {"age": 28, "city": "Miami", "occupation": "Doctor"},
    "Ethan": {"age": 40, "city": "Seattle", "occupation": "Chef"},
    "Frank": {"age": 32, "city": "Atlanta", "occupation": "Lawyer"},
    "Gabriella": {"age": 29, "city": "San Francisco", "occupation": "Software Engineer"},
    "Harrison": {"age": 38, "city": "Denver", "occupation": "Architect"},
    "Isabella": {"age": 26, "city": "Washington D.C.", "occupation": "Journalist"},
    "Julian": {"age": 42, "city": "Miami", "occupation": "Musician"},
    "Kate": {"age": 31, "city": "Philadelphia", "occupation": "Nurse"},
    "Lucas": {"age": 36, "city": "Nashville", "occupation": "Businessman"},
    "Mia": {"age": 27, "city": "Atlanta", "occupation": "Artist"},
    "Natalie": {"age": 39, "city": "Portland", "occupation": "Writer"},
    "Oliver": {"age": 44, "city": "Minneapolis", "occupation": "Professor"},
    "Penelope": {"age": 33, "city": "San Diego", "occupation": "Marketing Manager"},
    "Quincy": {"age": 41, "city": "Nashville", "occupation": "Singer"},
    "Rachel": {"age": 34, "city": "Cleveland", "occupation": "Teacher"},
    "Sophia": {"age": 29, "city": "Nashville", "occupation": "Engineer"},
    "Tessa": {"age": 37, "city": "Miami", "occupation": "Lawyer"}
}

In [ ]:
def print_older30(info):
  for person in info:
    if info[person]['age']>30:
      print(person)

def print_cities(info):
  cities_unique=set()

  for person in info:
    cities_unique.add(info[person]['city'])
  cities_unique={a: 0 for a in cities_unique}
  for person in info:
    for city in cities_unique:
      if info[person]['city'] == city:
        cities_unique[city]+=1
  print(cities_unique)

def print_occupations(info):
  occupations_unique=set()

  for person in info:
    occupations_unique.add(info[person]['occupation'])
  occupations_unique={a: [] for a in occupations_unique}
  for person in info:
    for occ in occupations_unique:
      if info[person]['occupation'] == occ:
        occupations_unique[occ]+=[person]
  print(occupations_unique)

print_occupations(people_info)

{'Software Engineer': ['Gabriella'], 'Musician': ['Julian'], 'Businessman': ['Lucas'], 'Architect': ['Harrison'], 'Artist': ['Mia'], 'Doctor': ['Diana'], 'Lawyer': ['Frank', 'Tessa'], 'Teacher': ['Charlie', 'Rachel'], 'Professor': ['Oliver'], 'Designer': ['Bob'], 'Chef': ['Ethan'], 'Marketing Manager': ['Penelope'], 'Engineer': ['Alice', 'Sophia'], 'Journalist': ['Isabella'], 'Nurse': ['Kate'], 'Singer': ['Quincy'], 'Writer': ['Natalie']}

# **Задание 7**

Задание: Разработка системы отзывов о предметах

Описание: Создать программу на Python для хранения и управления отзывами о предметах учебного курса. Программа должна позволять пользователям добавлять, просматривать и удалять отзывы, а также вычислять средний балл по заданному предмету.

**Функционал:**

*   Добавление отзыва и оценки:
   *   Пользователь может ввести название предмета, оценку (от 1 до 5) и текст отзыва.
   *   Отзывы должны храниться в структуре данных (например, словаре), где ключом будет название предмета, а значением - список отзывов (каждый отзыв может хранить оценку и комментарий).
*   Просмотр отзывов и оценок:
   *   Пользователь может запросить отзывы для указанного предмета.
   *   Если для указанного предмета есть отзывы, программа должна отобразить список всех отзывов и соответствующих оценок.
*   Удаление отзыва:
   *   Пользователь может удалить отзыв по индексу. Необходимо заранее уведомить пользователя о том, какие отзывы доступны для удаления.
   *   Программа должна обработать ситуацию, когда индекс введен неправильно.
*   Вычисление среднего балла по предмету:
   *   Пользователь может ввести название предмета, и программа должна вычислить и вывести средний балл по всем отзывам для этого предмета.
   *   Если отзывов нет, программа должна сообщить об этом.


**Критерии:**

*   Код должен быть оформлен в виде функций
*   Необходимо обрабатывать неправильный ввод пользователя
*   Должны быть комментарии к функциям
*   Присутсвует весь дополнительный функционал



**Опционально:**

Предлагаю вам добавить свои критерии оценки или вопросы, на которые должен ответить студент, чтобы оценить пару

In [ ]:
ratings={a:[[2, 'penix']] for a in ['математика', 'химия', "биология", "физкультура", "русский язык", "физика"]}
def add_rating():
  try:
    subject=input('Введите название предмета: ')
    rating=int(input("Введите оценку предмета от 1 до 5: "))
    text=input("Введите текст отзыва: ")
    ratings[subject] += [[rating, text]]
    return 'отзыв добавлен'
  except:
    return 'шота пошло не так, введите правильные данные'


def show_ratings():
  try:
    subject=input('Введите название предмета, чтобы показать на него оценки: ')
    if ratings[subject]:
      return ratings[subject]
    return 'для предмета %s нет отзывов' % subject
  except:
    return 'шота пошло не так, введите правильные данные'

def del_rating():
  try:
    subject=input('Введите название предмета, отзыв о котором вы хотите удалить: ')
    c=0
    for i in ratings[subject]:
      print(f'Для отзыва <{i[1]}> индекс {c}')
      c+=1
    ind=input('Введите индекс оценки для его удаления: ')
    ratings[subject].pop(ind)
    return "отзыв удален"

  except:
     return 'шота пошло не так, введите правильные данные'

def calc_subj_mean():
  try:
    subject=input('Введите название предмета для вычисления среднего балла: ')
    if ratings[subject] != []:
        total_rating=0
        for ratings_list in ratings[subject]:
            total_rating+=ratings_list[0]
        return total_rating/len(ratings[subject])
    else:
        return 'для предмета %s нет отзывов' % subject
  except:
     return 'шота пошло не так, введите правильные данные'

Введите название предмета: математика
Введите оценку предмета от 1 до 5: 2
Введите текст отзыва: хуйня
Введите название предмета, чтобы показать на него оценки: математика
для предмета математика нет отзывов
Введите название предмета для вычисления среднего балла: математика
Введите название предмета, отзыв о котором вы хотите удалить: математика
Введите индекс оценки для его удаления: 1
Введите название предмета, чтобы показать на него оценки: 2

'шота пошло не так, введите правильные данные'